/prime/bin
/FirstTest/bin
/txt&jdbc/bin
/SpringSetterInjection/bin
/SpringScope/bin
/SpringProgramTransactionManagement/bin
/SpringMessageSource/bin
/SpringLog/bin
/SpringLazyInit/bin
/SpringJDBC/bin
/SpringInit/bin
/SpringHibernateIntegrate/bin
/SpringFirst/bin
/SpringFactoryMethod/bin
/SpringDeclarativeTransactionManagement/bin
/SpringConstructorInjection/bin
/SpringBeanAware/bin
/SpringApplicationConrext/bin
/SpringAnnotation/bin
/SpringAOP/bin
/SimpleContainer/bin
/SQLConnect/bin
/JavaProject/bin
/JDBCProject/bin
/commons-codec/bin
/AndroidJson/build
/jspExercise/build
/exampleServlet3_0/build
/example/build
/eDM65/build
/WebForAndroid/build
/TradWeb/build
/RESTWeb/build
/RESTService/build
/MyHibWeb/build
/LabWebStruts/build
/LabWebSecurity/build
/LabWebPics/build
/LabWebJdbcServlet/build
/HelloWeb/build
/Client/build
/BasicAutheiticationScheme/build
