<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<!-- 
       利用 EL: ${pageContext.servletContext.servletContextName}
       可以取出 <display-name>標籤所定義的 exampleServlet3_0
 -->
  <display-name>exampleServlet3_0</display-name>
  <!-- USELESS 
  <absolute-ordering>
    <name>F7</name>
    <name>F1</name>
    <name>F3</name>

  </absolute-ordering>
     -->  
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>helloSnoopy@helloSnoopy.com</param-value>
  </context-param>
  <context-param>
    <param-name>breed</param-name>
    <param-value>Great Dane大丹(測試中文)</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- 下面三組<filter-mapping>標籤決定 Filter的執行: 
     <url-pattern>標籤先於</servlet-name>
-->
  <filter-mapping>
    <filter-name>F1</filter-name>
    <url-pattern>/ch08/hello</url-pattern>
  </filter-mapping> 
  <filter-mapping>
    <filter-name>F7</filter-name>
    <url-pattern>/ch08/hello</url-pattern>
  </filter-mapping>
  <filter-mapping>
     <filter-name>F3</filter-name>
     <servlet-name>HelloWorldServlet</servlet-name>
  </filter-mapping> 
  <!-- 
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>ch01.ex01.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/ch01/sayHelloServlet</url-pattern>
  </servlet-mapping>
   -->
   <!--
  <servlet>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>ch01.ex03.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/ch01/messageServlet</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <servlet>
    <description></description>
    <display-name>HahaServlet</display-name>
    <servlet-name>HahaServlet</servlet-name>
    <servlet-class>com.abc.HahaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HahaServlet</servlet-name>
    <url-pattern>/ch01/helloAgain.jsp</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <servlet>
    <servlet-name>process Order</servlet-name>
    <servlet-class>ch02.ex03.controller.ProcessOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>process Order</servlet-name>
    <url-pattern>/ch02/survey.do</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>MemberServletch02</servlet-name>
    <servlet-class>ch02.ex05.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServletch02</servlet-name>
    <url-pattern>/ch02/MemberServlet</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>ShowPictureServletch02</servlet-name>
    <servlet-class>ch02.ex06.controller.ShowPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPictureServletch02</servlet-name>
    <url-pattern>/ch02/ShowPictureServlet</url-pattern>
    
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPictureServletch02</servlet-name>
    <url-pattern>/ch02/SPServlet</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <servlet>
    <servlet-name>RequestInfo</servlet-name>
    <servlet-class>ch02.ex11.controller.RequestInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInfo</servlet-name>
    <url-pattern>/ch02/requestInfo/request.do</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>sendRedirect1</servlet-name>
    <servlet-class>ch02.ex07.controller.SendRedirect1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendRedirect1</servlet-name>
    <url-pattern>/ch02/sendRedirect1</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>sendRedirect2</servlet-name>
    <servlet-class>ch02.ex08.controller.SendRedirect2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendRedirect2</servlet-name>
    <url-pattern>/ch02/sendRedirect2</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <description></description>
    <display-name>ShowMessage</display-name>
    <servlet-name>ShowMessage</servlet-name>
    <servlet-class>ch02.ex12.controller.ShowMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage</servlet-name>
    <url-pattern>/ch02/ex12/ShowMessage</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <description></description>
    <display-name>Super Spy</display-name>
    <servlet-name>Spy.007</servlet-name>
    <servlet-class>ch02.ex14.controller.ExplicitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Spy.007</servlet-name>
    <url-pattern>/ch02/ex14/spy.007</url-pattern>
  </servlet-mapping>
   -->
  
   <!-- 
  <servlet>
    <description></description>
    <display-name>PSY1</display-name>
    <servlet-name>PrefixServlet</servlet-name>
    <servlet-class>ch02.ex14.controller.PrefixServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrefixServlet</servlet-name>
    <url-pattern>/ch02/ex14/PSY/*</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <description></description>
    <display-name>PSY2</display-name>
    <servlet-name>ExtensionServlet</servlet-name>
    <servlet-class>ch02.ex14.controller.ExtensionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtensionServlet</servlet-name>
    <url-pattern>*.007</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>Ch4 MVC_V3</servlet-name>
    <servlet-class>ch04.ex01.controller.Register0401_V3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch4 MVC_V3</servlet-name>
    <url-pattern>/ch04/ex01/register0401_v3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendRedirect</servlet-name>
    <servlet-class>ch04.ex02.controller.SendRedirectDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRedirect</servlet-name>
    <url-pattern>/ch04/ex02/SendRedirect.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDispatcher</servlet-name>
    <servlet-class>ch04.ex02.controller.RequestDispatcherDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcher</servlet-name>
    <url-pattern>/ch04/ex02/RequestDispatcher.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CTS</servlet-name>
    <servlet-class>ch04.ex03.model.CreateTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CTS</servlet-name>
    <url-pattern>/ch04/ex03/createMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register04_03_v4</servlet-name>
    <servlet-class>ch04.ex03.controller.Register0403_V4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register04_03_v4</servlet-name>
    <url-pattern>/ch04/ex03/register0403_v4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryAllMembers</servlet-name>
    <servlet-class>ch04.ex04.controller.QueryAllMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryAllMembers</servlet-name>
    <url-pattern>/ch04/ex04/queryAllMembers.do</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <description></description>
    <display-name>ELDemo</display-name>
    <servlet-name>ELDemo</servlet-name>
    <servlet-class>ch05.ex01.controller.ELDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELDemo</servlet-name>
    <url-pattern>/ch05/ELDemo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadParametersServlet</display-name>
    <servlet-name>ReadParametersServlet</servlet-name>
    <servlet-class>ch05.ex02.controller.ReadParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParametersServlet</servlet-name>
    <url-pattern>/ch05/ex02/ReadParameters.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ELVersioon</servlet-name>
    <servlet-class>ch05.ex04.controller.ELVersionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELVersioon</servlet-name>
    <url-pattern>/ch05/ex04/elfinal.do</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>SD1</servlet-name>
    <servlet-class>ch06.ex01.view.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD1</servlet-name>
    <url-pattern>/ch06/SD1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD2</servlet-name>
    <servlet-class>ch06.ex02.view.SessionDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD2</servlet-name>
    <url-pattern>/ch06/SD2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD3</servlet-name>
    <servlet-class>ch06.ex03.view.SessionDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD3</servlet-name>
    <url-pattern>/ch06/SD3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD4</servlet-name>
    <servlet-class>ch06.ex04.controller.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD4</servlet-name>
    <url-pattern>/ch06/setCookie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SD5</servlet-name>
    <servlet-class>ch06.ex04.view.DisplayCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD5</servlet-name>
    <url-pattern>/ch06/checkCookie.do</url-pattern>
  </servlet-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>Init Parameter1</servlet-name>
    <servlet-class>ch07.ex01.controller.GetInitParameter</servlet-class>
    <init-param>
      <param-name>discount</param-name>
      <param-value>0.65</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init Parameter1</servlet-name>
    <url-pattern>/ch07/initParameter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lottery1</servlet-name>
    <servlet-class>ch07.ex02.controller.LotteryServlet</servlet-class>
    <init-param>
      <param-name>maxNumber</param-name>
      <param-value>49</param-value>
    </init-param>
    <init-param>
      <param-name>amountOfBalls</param-name>
      <param-value>6</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lottery1</servlet-name>
    <url-pattern>/ch07/BigLottery.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lottery2</servlet-name>
    <servlet-class>ch07.ex02.controller.LotteryServlet</servlet-class>
    <init-param>
      <param-name>maxNumber</param-name>
      <param-value>39</param-value>
    </init-param>
    <init-param>
      <param-name>amountOfBalls</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lottery2</servlet-name>
    <url-pattern>/ch07/SmallLottery.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>First</servlet-name>
    <servlet-class>ch07.ex03.First</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Second</servlet-name>
    <servlet-class>ch07.ex03.Second</servlet-class>
    <load-on-startup>15</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Third</servlet-name>
    <servlet-class>ch07.ex03.Third</servlet-class>
    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Zero</servlet-name>
    <servlet-class>ch07.ex03.Zero</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Zero</servlet-name>
    <url-pattern>/zero</url-pattern>
  </servlet-mapping>
   -->
  
  <!-- 
  <servlet>
    <servlet-name>ContextListener</servlet-name>
    <servlet-class>ch07.ex04.view.ContextInitParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextListener</servlet-name>
    <url-pattern>/ch07/contextInitParam.do</url-pattern>
  </servlet-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>ReturnJarFile</servlet-name>
    <servlet-class>ch07.ex05.controller.ReturnJarFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnJarFile</servlet-name>
    <url-pattern>/ch07/images.jar</url-pattern>
  </servlet-mapping>
   -->

  <!-- 
  <listener>
    <listener-class>ch07.ex06.web.MyServletContextListener</listener-class>
  </listener>
   -->
  <!-- 
  <servlet>
    <servlet-name>ListenerTester</servlet-name>
    <servlet-class>ch07.ex06.view.ListenerTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerTester</servlet-name>
    <url-pattern>/ch07/ListenerTester.do</url-pattern>
  </servlet-mapping>
   -->
  <context-param>
    <param-name>dataPath</param-name>
    <param-value>/WEB-INF/data/CoffeeData.txt</param-value>
  </context-param>
  <!-- 
  <listener>
    <listener-class>ch07.ex07.web.ServletContextListenerDemo00</listener-class>
  </listener>
   -->
   <!--
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>ch07.ex07.view.ShowCoffeeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ch07/ch07_07.view</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>randomPicture</servlet-name>
    <servlet-class>ch07.ex08.controller.ReturnRandomPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>randomPicture</servlet-name>
    <url-pattern>/ch07/randomPicture.do</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <filter>
    <filter-name>PerformanceFilter</filter-name>
    <filter-class>ch08.performance.PerformanceFilter</filter-class>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>程式執行效能觀測:</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PerformanceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <description></description>
    <display-name>CreateTableServlet</display-name>
    <servlet-name>CreateTableServlet</servlet-name>
    <servlet-class>ch08.performance.CreateTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTableServlet</servlet-name>
    <url-pattern>/ch08/CreateTableServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description></description>
    <display-name>DriverManagerServlet</display-name>
    <servlet-name>DriverManagerServlet</servlet-name>
    <servlet-class>ch08.performance.DriverManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverManagerServlet</servlet-name>
    <url-pattern>/ch08/DriverManagerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DataSourceServlet</display-name>
    <servlet-name>DataSourceServlet</servlet-name>
    <servlet-class>ch08.performance.DataSourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSourceServlet</servlet-name>
    <url-pattern>/ch08/DataSourceServlet</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <filter>
    <display-name>AuditFilter</display-name>
    <filter-name>AuditFilter</filter-name>
    <filter-class>ch08.ex05.audit.AuditFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuditFilter</filter-name>
    <url-pattern>/ch08/TopSecret</url-pattern>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <description></description>
    <display-name>TopSecret</display-name>
    <servlet-name>TopSecret</servlet-name>
    <servlet-class>ch08.ex05.audit.TopSecretServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopSecret</servlet-name>
    <url-pattern>/ch08/TopSecret</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <filter>
    <filter-name>upFilter</filter-name>
    <filter-class>ch08.ex01.filter.URLPatternFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>upFilter</filter-name>
    <url-pattern>/ch08/urlPattern</url-pattern>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>URLPatternServlet</servlet-name>
    <servlet-class>ch08.ex01.URLPatternServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLPatternServlet</servlet-name>
    <url-pattern>/ch08/urlPattern</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <filter>
    <filter-name>snFilter</filter-name>
    <filter-class>ch08.ex02.filter.ServletNameFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>snFilter</filter-name>
    <servlet-name>snServlet</servlet-name>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>snServlet</servlet-name>
    <servlet-class>ch08.ex02.ServletNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>snServlet</servlet-name>
    <url-pattern>/ch08/servletName</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <filter>
    <filter-name>F1</filter-name>
    <filter-class>ch08.ex03.filter.F1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F1</filter-name>
    <url-pattern>/ch08/hello</url-pattern>
  </filter-mapping>
   -->
   <!-- 
  <filter>
    <filter-name>F7</filter-name>
    <filter-class>ch08.ex03.filter.F7</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F7</filter-name>
    <url-pattern>/ch08/hello</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>F3</filter-name>
    <filter-class>ch08.ex03.filter.F3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>F3</filter-name>
    <servlet-name>HelloWorldServlet</servlet-name>
  </filter-mapping>
   -->
   <!-- 
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>ch08.ex03.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/ch08/hello</url-pattern>
  </servlet-mapping>
   -->
   <!-- 
  <filter-mapping>
    <filter-name>F3</filter-name>
    <url-pattern>/ch08/IncludeNextS</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>MainInclude</servlet-name>
    <servlet-class>ch08.ex04.Main_IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainInclude</servlet-name>
    <url-pattern>/ch08/Main_Include</url-pattern>
  </servlet-mapping>
   -->
   <!--  
  <servlet>
    <servlet-name>INS</servlet-name>
    <servlet-class>ch08.ex04.IncludeNextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>INS</servlet-name>
    <url-pattern>/ch08/IncludeNextS</url-pattern>
  </servlet-mapping>
  -->
  <!-- 
  <filter-mapping>
    <filter-name>F7</filter-name>
    <url-pattern>/ch08/ForwardNextS</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
   -->
  <!-- 
  <servlet>
    <servlet-name>MainForward</servlet-name>
    <servlet-class>ch08.ex04.Main_ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainForward</servlet-name>
    <url-pattern>/ch08/Main_Forward</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FNS</servlet-name>
    <servlet-class>ch08.ex04.ForwardNextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FNS</servlet-name>
    <url-pattern>/ch08/ForwardNextS</url-pattern>
  </servlet-mapping>
   -->
  
 
</web-app>