.ming9 {
	FONT-SIZE: 9pt; FONT-FAMILY: "細明體"; TEXT-DECORATION: none
}
.ming10 {
	FONT-SIZE: 10pt; FONT-FAMILY: "細明體"; TEXT-DECORATION: none
}
.ming11 {
	FONT-SIZE: 11pt; FONT-FAMILY: "細明體"; TEXT-DECORATION: none
}
.ming12 {
	FONT-SIZE: 12pt; FONT-FAMILY: "細明體"; TEXT-DECORATION: none
}
.ti9 {
	FONT-SIZE: 9pt; FONT-FAMILY: "times new roman"; TEXT-DECORATION: none
}
.ti10 {
	FONT-SIZE: 10pt; FONT-FAMILY: "times new roman"; TEXT-DECORATION: none
}
.ti11 {
	FONT-SIZE: 11pt; FONT-FAMILY: "times new roman"; TEXT-DECORATION: none
}
.ti12 {
	FONT-SIZE: 12pt; FONT-FAMILY: "times new roman"; TEXT-DECORATION: none
}
.con {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-FAMILY: "times new roman"; TEXT-DECORATION: none
}
