<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jspExercise</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LotteryServlet</display-name>
    <servlet-name>LotteryServlet</servlet-name>
    <servlet-class>ch01.LotteryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotteryServlet</servlet-name>
    <url-pattern>/ch01/LotteryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LotteryServlet2</display-name>
    <servlet-name>LotteryServlet2</servlet-name>
    <servlet-class>ch01.LotteryServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotteryServlet2</servlet-name>
    <url-pattern>/ch01/LotteryServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServlet</display-name>
    <servlet-name>ProcessMemberServlet</servlet-name>
    <servlet-class>ch02.ProcessMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServlet</servlet-name>
    <url-pattern>/ch02/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServletMVC</display-name>
    <servlet-name>ProcessMemberServletMVC</servlet-name>
    <servlet-class>ch04_01.ProcessMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServletMVC</servlet-name>
    <url-pattern>/ch04_01/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServletDB</display-name>
    <servlet-name>ProcessMemberServletDB</servlet-name>
    <servlet-class>ch04_02.ProcessMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServletDB</servlet-name>
    <url-pattern>/ch04_02/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServletShowMsg</display-name>
    <servlet-name>ProcessMemberServletShowMsg</servlet-name>
    <servlet-class>ch05_03.ProcessMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServletShowMsg</servlet-name>
    <url-pattern>/ch05_03/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ch06_01.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ch06_01/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServletLab06_02</display-name>
    <servlet-name>ProcessMemberServletLab06_02</servlet-name>
    <servlet-class>ch06_02.ProcessMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServletLab06_02</servlet-name>
    <url-pattern>/ch06_02/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessMemberServletLab07_01</display-name>
    <servlet-name>ProcessMemberServletLab07_01</servlet-name>
    <servlet-class>ch07_01.ProcessMemberServlet</servlet-class>
    <init-param>
      <param-name>DBString</param-name>
      <param-value>java:comp/env/jdbc/MemberDB</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessMemberServletLab07_01</servlet-name>
    <url-pattern>/ch07_01/member.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>ch07_02.SelectMemberDataListener</listener-class>
  </listener>
  <context-param>
    <param-name>DBString</param-name>
    <param-value>java:comp/env/jdbc/MemberDB</param-value>
  </context-param>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>ch08_01.LoginFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>url_1</param-name>
      <param-value>/ch05_05/*</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>url_2</param-name>
      <param-value>/ch05_08/*</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>url_3</param-name>
      <param-value>/ch05_09/*</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>url_4</param-name>
      <param-value>/ch07_02/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>